* {
    font-family: "Poppins", sans-serif;
}
.bg-green {
    background-color: #219741;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #219741;
}

.btn-link,
.btn-link:hover{
    color: #1cc88a;
}

.nav-pills .nav-link.active {
    background-color: #1cc88a !important;
}

.nav-pills a.nav-link {
    color: #666;
}

.fat-content-small {
    padding-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.mh-130 {
    min-height: 130px;
}

@media screen and (max-width: 600px) {
    #bottom-nav {
        display: none !important;
    }

    .nav-radius {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.detail-competitor hr {
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
}

.bottom-nav {
    padding: 0;
    list-style: none;
    margin: 10px auto;
}

.bottom-nav li {
    display: inline-block;
}

.bottom-nav li.active a {
    color: #4e73df !important;
}

.line-height-1 {
    line-height: 1em;
}

@media screen and (min-width: 601px) {
    #bottom-nav {
        display: none !important;
    }
}

.sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after,
.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    display: none;
}

.sidebar .collapse-inner a.store,
#collapseStore .nav-link,
.sidebar .collapse-inner a.store,
#collapseAdmin .nav-link,
.sidebar .collapse-inner a.store,
#collapseManagement .nav-link {
    display: none !important;
}
